.allBlock{
    height: 75px;
    background-color:rgba(178, 178, 178, 0.9);
    width: 100%;
    border-radius: 13px;
    display: flex;
    align-items: center;
}
.userNameBlock{
     height: 75px;
     margin-left: 25px;
     font-size: 20px;
     color: white;
     display: flex;
     flex-direction: column;
     gap: 0px;
     cursor: default;
}
.avatarBlock{
    position: relative;
    width: 85px;
    height: 85px;
}
.headerAvatar{
    height: 65px;
    width: 65px;
    border-radius: 25%;
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in-out;
}
.headerAvatar:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}