.Bar{
    width: 100%;
    height: 60px;
    background-color: rgba(68, 68, 68, 0.9);
    border-radius: 0px 0px 13px 13px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logoIcon{
    width: 49px;
    height: 49px;
    opacity: 0.9;
}
.logo{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.avatarBlock{
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.avatar{
    position: absolute;
    width: 49px;
    height: 49px;
    border-radius: 13px;
}