.Chatsblock{
    width: 400px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: solid rgba(255, 255, 255, 0.319).1px ;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    height: 100%;
}
.chatBar{
    display: flex;
    padding-top: 8px;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.seachBlock{
    width: 100%;
    background-color:rgba(178, 178, 178, 0.9);
    height: 75px;
    border-radius: 13px 13px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 13px;
    width: 95%;
    transition: all 0.3s ease
}
.chat:hover{
    transform: scale(1.03);
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.avatarDiv{
    position: relative;
    display: flex;
    align-items: center;
}
.avatar{
    position: absolute;
    margin: 10px;

}
.details{
    cursor: default;
    margin-left: 65px;
}


