.sentBlock{
    padding: 3px;
    width: 99%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    gap: 10px;
}
.label{
    height: 42px;
    color: white;
    font-size: 22px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 13px;
    background-color: rgba(240, 248, 255, 0);
}
::placeholder{
    color: rgb(177, 177, 177);
}
.sentButton{
    width: 40px;
    height:40px;
    border-radius: 50%;
    border: none;
}