.search{
    width: 150px;
    height: 35px;
    background-color: rgb(208, 208, 208);
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
.input{
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    border: none;
    outline: none;
    width: 125px;
    height: 35px;
    font-size: 25px;
    color: white;
}